body {
    font-family: 'Nunito', sans-serif;
    background-color: rgb(241, 238, 238);
}

.HoverDiv {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;


}

.HoverDiv:hover {
    background-color: rgb(231, 226, 226);
}